apiVersion: apps/v1

kind: Deployment

metadata:
  name: edge-service
  labels:
    app: edge-service

spec:
  replicas: 1
  selector:
    matchLabels:
      app: edge-service
  template:
    metadata:
      labels:
        app: edge-service
    spec:
      containers:
      - name: edge-service
        image: ghcr.io/sonnykrieg/edge-service
        imagePullPolicy: IfNotPresent
        lifecycle:
          preStop:
            exec:
              command: [ "sh", "-c", "sleep 5" ]
        ports:
          - containerPort: 9001
        env:
          - name: BPL_JVM_THREAD_COUNT
            value: "50"
          - name: SPRING_DATA_REDIS_HOST
            value: http://polar-redis
          - name: SPRING_DATA_REDIS_PORT
            value: 6379
          - name: CATALOG-SERVICE_URL
            value: http://catalog-service:9001
          - name: ORDER-SERVICE_URL
            value: http://order-service:9002
          - name: SPRING_CLOUD_CONFIG_URI
            value: http://config-service:80
